cachetools==3.1.1
Click==7.0
dataclasses==0.7
dateparser==0.7.2
dnspython==1.16.0
email-validator==1.0.5
fastapi==0.42.0
fuzzywuzzy==0.17.0
gunicorn==20.0.4
h11==0.8.1
httptools==0.0.13
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
MarkupSafe==1.1.1
numpy==1.17.4
pandas==0.25.3
peewee==3.11.2
psycopg2-binary==2.8.4
pydantic==0.32.2
python-dateutil==2.8.1
python-dotenv==0.10.3
python-Levenshtein==0.12.0
pytz==2019.3
regex==2019.11.1
six==1.13.0
starlette==0.12.9
tqdm==4.40.0
tzlocal==2.0.0
uvicorn==0.11.7
uvloop==0.14.0
websockets==8.1
Werkzeug==0.16.0
